node_modules/
.cache/
dist
.vscode
03..Practical_things/Hacker_News/.cache
03..Practical_things/Hacker_News/dist
03..Practical_things/Hacker_News/node_modules
03..Practical_things/01..Mometum_Clone/config