* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 50px;
  background-color: #ced3df;
  text-align: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 16px 4px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 6px 16px 4px rgba(0, 0, 0, 0.73);
}

.header {
  height: 10%;
  padding: 8px;
  font-size: 24px;
  background: rgb(0, 33, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 33, 36, 1) 0%,
    rgba(9, 121, 114, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  min-height: 400px;
  max-height: 700px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item:hover {
  cursor: pointer;
}

.item.checked {
  color: var(--color-dark-white);
  text-decoration: line-through;
}

.item__divider {
  width: 90%;
  height: 1px;
  margin: auto;
  background-color: #d3d3d3;
}

.item__delete {
  font-size: 16px;
  transition: all 300ms ease-in;
}
.item__delete:hover {
  color: #f00;
  transform: scale(1.1);
}

.footer {
  height: 20%;
  background: rgb(0, 33, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 33, 36, 1) 10%,
    rgba(9, 121, 114, 1) 57%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 100%;
  height: 32px;
  padding: 0 16px;
  font-size: 24px;
  border: none;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  outline: none;
}

.footer__button {
  width: 48px;
  height: 48px;
  background-color: #000;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  transition: all 300ms ease-in;
}

.footer__button:hover {
  transform: scale(1.1);
}

/* .section {
  margin: auto;
  width: 30vw;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 5px gray;
}

.header__title {
  color: white;
  font-size: 24pt;
  line-height: 48pt;
}

.main {
  height: 70%;
  background-color: whitesmoke;
  padding: 15px 35px;
  overflow-y: auto;
}
.footer__input {
  width: 100%;
  height: 30%;
  border: none;
  outline-style: none;
  padding: 5px 15px;
  font-size: 20px;
  color: black;
}

.footer__button {
  padding: 13px 15px;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 2rem;
  position: relative;
  transform: translateY(25%);
  color: whitesmoke;
  background-color: black;
}

.all-delete {
  font-size: 2rem;
  position: fixed;
  top: 8%;
  right: 36%;
  color: white;
  transition: all 300ms ease-in-out;
  display: none;
}

.all-delete:hover {
  color: yellow;
  transform: scale(1.1) rotate(-30deg);
  cursor: pointer;
} */
